# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs (Next.js, Turborepo, TypeScript)
.next/
out/
build/
dist/
.turbo/

# Testing
coverage/

# OS / Misc
.DS_Store
Thumbs.db
*.pem

# Local environment variables
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts
